$primary: #0A3F7F;
$primary-alt: #CF649A;
$accent: #F7AA00;
$neutral: #cecece;
$dark-alternate:	#333333;
$dark: #122849;
$light: #fafafa;
$light-alternate:#eaf5ff;
$links: #4484c5;

$danger: #993955;
$success: #7B9E87;

$background-light: #fafafa;

//  Typography
$font-family: Helvetica, Arial, sans-serif;
